/* image 1 */

.classname{
position: absolute;
width: 1028px;
height: 672px;

background: url(image.png);
mix-blend-mode: lighten;
}

/* Rectangle 1 */

.classname{
position: absolute;
width: 427px;
height: 67px;

background: #C4C4C4;
mix-blend-mode: soft-light;
opacity: 0.3;
}

/* Statistika */

.classname{
position: absolute;
width: 427px;
height: 67px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 2013 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2014 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2015 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2016 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2017 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2018 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2019 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* 2020 */

.classname{
position: absolute;
width: 40.79px;
height: 11.62px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

transform: matrix(0, -1, 1, 0, 0, 0);
}

/* Line 1 */

.classname{
position: absolute;
width: 509px;
height: 0px;

border: 1px solid #000000;
transform: rotate(90deg);
}

/* Line 2 */

.classname{
position: absolute;
width: 703px;
height: 0px;

border: 1px solid #000000;
transform: rotate(0deg);
}

/* 1bil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 100mil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 550mill. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 400mil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 250mil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 850mil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* 700mil. */

.classname{
position: absolute;
width: 48px;
height: 32px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* Line 3 */

.classname{
position: absolute;
width: 107.35px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-27.76deg);
}

/* Line 4 */

.classname{
position: absolute;
width: 93.68px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-16.11deg);
}

/* Line 5 */

.classname{
position: absolute;
width: 140.04px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-43.84deg);
}

/* Line 6 */

.classname{
position: absolute;
width: 96.03px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-8.38deg);
}

/* Line 7 */

.classname{
position: absolute;
width: 99.62px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-17.53deg);
}

/* Line 8 */

.classname{
position: absolute;
width: 99.72px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-15.71deg);
}

/* Line 9 */

.classname{
position: absolute;
width: 232.31px;
height: 0px;

border: 1px solid #000000;
transform: rotate(-65.86deg)
}