@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


header {
    position: absolute;
    width: 1600px;
    height: 110px;
    padding: 30px 45%;
    left: 0px;
    top: 0px;
    
    /* Blue 2 */
    background: #2D9CDB;
    border: 2px solid #000000;
    box-sizing: border-box;
}
span {
    font-family: "Montserrat", sans-serif;

    font-size: 48px;
    display: flex;
color: #000000;
}