.frame{
    outline: solid 3px black; 
    width: 800px; 
    height: 400px;
    margin: auto;
    margin-top: 250px;
    background: rgba(255, 255, 255, 0.6);
}
.clientaccess{
    font-size: 44px; 
    font-weight: 600;
    margin-top: 60px; 
    margin-left: 60px;
}
.adminaccess{
    font-size: 44px; 
    margin-left: 470px;
    margin-top: -200px;
    font-weight: 600;
}
.clientbutton {
    border: 2px solid black;
    background-color: darkturquoise;
    color: black;
    padding: 0px;
    font-size: 24px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-top: 70px;
  }
.adminpassword{
    width: 200px; 
    height: 50px;
    margin-left: 470px; 
    margin-top: 65px;
    border: solid 2px black;
}
.adminbutton{
    width: 100px;
    height: 51px;
    border: solid 2px black;
    border-radius: 0px 15px 15px 0px;
    background-color: darkturquoise;
}